@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #141414;
  //font-family: 'Roboto', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
}

button {
  cursor: pointer;
  font-family: 'Lexend Deca', sans-serif;
}

.form-horizontal {
  width: 400px;
  padding: 12px;
  border-radius: 12px;
  background-color: #444;

  .form-group {
    padding: 12px;
    position: relative;

    .form-control {
      width: 100%;
      height: 50px;
      font-weight: 300;
      border-radius: 4px;
      font-size: 1.2rem;
      border: none;
      padding: 18px 12px 0;

      &:focus~.form-label-anim {
        top: 18px;
        font-size: 1rem;
        font-weight: 500;
      }

      &.show {
        display: block;
      }
    }

    .form-label-anim {
      top: 28px;
      left: 24px;
      color: #000;
      font-weight: 500;
      transition: 0.1s;
      font-size: 1.2rem;
      position: absolute;

      &.focused {
        top: 18px;
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .btn-submit {
      width: 100%;
      padding: 12px;
      font-size: 1.2rem;
      border: none;
      border-radius: 4px;
      transition: 0.2s;
      color: #fff;
      background-color: #7e57c2;

      &:hover {
        background-color: #673ab7;
      }
    }

    .form-action-link {
      border: none;
      color: #9575cd;
      transition: 0.2s;
      font-size: 1rem;
      text-decoration: underline;
      background-color: transparent;

      &:hover {
        color: #7e57c2;
      }

    }

    .form-divisor-circle {
      width: 10px;
      height: 10px;
      margin: 0 12px;
      border: none;
      border-radius: 50%;
      background-color: #fff;
    }

    .form-divisor {
      background-color: #fff;
      margin: 0 0 24px 0;
      padding: .02rem;
      width: 100%;
    }

    .form-stay-connected {
      display: flex;
      align-items: center;
    }
  }
}

.stepper {
  width: 800px;
  padding: 12px;
  border-radius: 12px;
  background-color: #444;

  .stepper-content {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .step-horizontal,
    .step-connector {
      width: 20%;
    }

    .step-horizontal {
      display: flex;
      align-items: center;

      .step-icon {
        margin: 0 4px;
        font-size: 2.2rem;
        color: #a26dff;
      }
    }

    .step-connector {
      padding: .5px;
      background-color: #ccc;
    }
  }

  .btn-next-step {
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 1rem;
    color: #fff;
    background-color: #7e57c2;

    &:hover {
      background-color: #673ab7;
    }
  }
}

.flip-form {
  width: 400px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;

  .form-front,
  .form-back {
    position: absolute;
    backface-visibility: hidden;
    transition: all .6s;
    transform-style: preserve-3d;
  }

  .form-back {
    transform: rotateY(180deg);
  }

  &.active {
    .form-front {
      transform: rotateY(-180deg);
    }

    .form-back {
      transform: rotateY(0deg);
    }
  }
}

.flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.align-items-start {
    align-items: flex-start;
  }

  &.align-items-center {
    align-items: center;
  }

  &.aling-items-end {
    align-items: end;
  }

  &.justify-content-start {
    justify-content: flex-start;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-end {
    justify-content: flex-end;
  }

  &.justify-content-between {
    justify-content: space-between;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 12px;

  @media (min-width: 568px) {
    width: 540px;
  }

  @media (min-width: 762px) {
    width: 734px;
  }

  @media (min-width: 956px) {
    width: 928px;
  }

  @media (min-width: 1150px) {
    width: 1122px;
  }

  @media (min-width: 1344px) {
    width: 1316px;
  }
}