.form-centered {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-create-board-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .board-control {
    width: 230px;
    height: 40px;
    border: none;
    color: #fff;
    padding: 0 8px;
    font-size: 1.2rem;
    background-color: transparent;
    font-family: "Lexend Deca", sans-serif;
  }

  .board-submit {
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 6px;
    transition: .2s all;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    font-family: "Lexend Deca", sans-serif;

    &:hover {
      background-color: #8e45e2;
    }
  }
}

.form-create-task {
  display: flex;
  align-items: center;
}

.form-horizontal {
  width: 460px;
  padding: 12px;
  border-radius: $radius;
  background-color: #444;

  .form-group {
    padding: 12px;
    position: relative;

    .form-label {
      left: 16px;
      position: absolute;
      font-size: 1.8rem;
      color: #555;

      svg {
        display: flex;
        align-items: center;
      }
    }

    .form-control {
      width: 100%;
      height: 55px;
      border: none;
      border-radius: $radius;
      font-size: 1.2rem;
      background-color: #222;
      border: 2px solid #222;
      color: #fff;
      font-family: "Lexend Deca", sans-serif;
      padding: 0 38px;

      &:focus {
        outline: none;
        border: 2px solid $primary-color;
      }

      &:focus~.form-label {
        color: $primary-color;
      }

      &:disabled {
        opacity: .6;
      }
    }

    .form-submit {
      width: 100%;
      height: 55px;
      border: none;
      border-radius: $radius;
      font-size: 1.2rem;
      background-color: $primary-color;
      font-family: "Lexend Deca", sans-serif;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #8a44c4;
      }

      &:disabled {
        opacity: .6;
      }
    }

    .form-recover-password {
      width: 100%;
      display: block;
      margin: 8px 0 0 0;
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .form-divisor {
      width: 100%;
      height: 1px;
      background-color: #555;
    }

    .form-link-signup {
      width: 100%;
      display: block;
      font-size: 1.2rem;
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .form-btn-google {
      height: 55px;
      border: none;
      border-radius: $radius;
      font-size: 1.2rem;
      background-color: #fff;
      font-family: "Lexend Deca", sans-serif;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 6px 0 0 0;

      &:hover {
        background-color: #eaeaea;
      }

      svg {
        margin-right: 6px;
      }
    }

    &>input,
    &>label,
    &>button {
      transition: .2s;
    }

    button {
      width: 100%;
    }
  }

  .form-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.form-modal {
    width: 100%;
    padding: 0px;

    .form-group {
      width: 100%;
      padding: 12px;
    }
  }
}