.home-navbar {
  display: flex;
  padding: 12px;
  align-items: center;
  background-color: #444;

  .navbar-brand {
    margin: 0 16px 0 0;

    h1 {
      
    }
  }

  .navbar-nav {


    
  }

  .navbar-actions {
    display: flex;

    .btn-redirect-login,
    .btn-redirect-register {
      color: #fff;
      font-size: 1.2rem;
      text-decoration: none;
      border-radius: 4px;
      transition: 0.2s;
    }

    .btn-redirect-login {
      padding: 8px 12px;
      background-color: #a555ff;

      &:hover {
        background-color: #9b44ff;
      }
    }

    .btn-redirect-register {
      margin: 0 0 0 12px;
      padding: 8px 24px;
      background-color: #7a7a7a;

      &:hover {
        background-color: #646464;
      }
    }
  }
}