.clear-button {
  padding: 24px 48px 0;

  button {
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    transition: .2s;
    font-size: 1.2rem;
    color: #fff;
    background-color: #ff6e6e;

    &:hover {
      background-color: #ff4d4d;
    }
  }
}

.loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.workspace {
  display: flex;
  color: #ccc;
  padding: 24px 48px;

  .board {
    width: 300px;
    margin: 0 16px 0 0;
    border-radius: 4px;
    background-color: #3a3a3a;

    .board-name {
      display: flex;
      padding: 12px;
      align-items: center;
      justify-content: space-between;
    }

    .board-icon {
      font-size: 1.4rem;
    }

    .board-item {
      padding: 6px;

      .board-item-content {
        color: #fff;
        overflow: hidden;
        border-radius: 4px;
        background-color: #757575;

        .board-item-name {
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .board-item-name-editable {
            resize: none;
            height: 26px;
            color: #fff;
            font-size: 1rem;
            background-color: transparent;
          }
        }

        .board-item-checked {
          display: flex;
          align-items: center;
          padding: 6px 12px;

          .board-icon-checked {
            font-size: 1rem;
            margin: 0 6px 0 0;
          }

          .board-number-checked {
            font-size: .8rem;
          }
        }
      }
    }
  }
}